input{
    display: block;
    margin: 0 auto;
}

label{
    width: 100%;
    display: block;
    text-align: center;
}
#numero{
    width: 250px;
}
.card{
    border-color: blueviolet;
}